In [1]:
# Data Cleaning 
# A dataset of events that occured in American Football games is used

In [2]:
import pandas as pd
import numpy as np

In [10]:
# Reading data 
nfl_data = pd.read_csv("input/NFL Play by Play 2009-2017 v4.csv")

C:\Users\Riya\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
# set seed for reproducibility
# to get determined sequence of random numbers
np.random.seed(0)

In [12]:
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [13]:
nfl_data.sample()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
244485,2014-10-26,2014102607,18,3,1.0,00:39,1,939.0,12.0,TB,...,1.240299,0.225647,0.774353,0.245582,0.754418,0.225647,0.019935,-0.018156,0.038091,2014

In [16]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

In [45]:
# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [19]:
# It might be helpful to see what percentage of the values in our dataset 
# were missing to give us a better sense of the scale of this problem:

# how many total missing values do we have?
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

24.87214126835169

In [25]:
# total_cells = 10342875
# nfl_data.shape = (407688, 102)
# 407688*102 = 41584176
# total_missing
# 10342875/41584176*100 = 24.87214126835169

In [26]:
# Figure out why the data is missing

# Is this value missing because it wasn't recorded or because it doesn't exist?
# if a value is missing because it wasn't recorded, then you can try to guess 
# what it might have been based on the other values in that column and row. 
# This is called imputation, and we'll learn how to do it next! :)

In [27]:
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [44]:
for i in range(len(nfl_data.columns)):
    print(nfl_data.columns[i], ":", missing_values_count[i])

Date : 0
GameID : 0
Drive : 0
qtr : 0
down : 61154
time : 224
TimeUnder : 0
TimeSecs : 224
PlayTimeDiff : 444
SideofField : 528
yrdln : 840
yrdline100 : 840
ydstogo : 0
ydsnet : 0
GoalToGo : 840
FirstDown : 28811
posteam : 24992
DefensiveTeam : 24992
desc : 2
PlayAttempted : 0
Yards.Gained : 0
sp : 0
Touchdown : 0
ExPointResult : 397578
TwoPointConv : 407083
DefTwoPoint : 407664
Safety : 0
Onsidekick : 0
PuntResult : 385317
PlayType : 0
Passer : 240045
Passer_ID : 0
PassAttempt : 0
PassOutcome : 239506
PassLength : 240520
AirYards : 0
YardsAfterCatch : 0
QBHit : 0
PassLocation : 240520
InterceptionThrown : 0
Interceptor : 403168
Rusher : 287124
Rusher_ID : 0
RushAttempt : 0
RunLocation : 288178
RunGap : 320260
Receiver : 246127
Receiver_ID : 0
Reception : 0
ReturnResult : 389450
Returner : 382384
BlockingPlayer : 407571
Tackler1 : 166134
Tackler2 : 357953
FieldGoalResult : 398629
FieldGoalDistance : 398740
Fumble : 0
RecFumbTeam : 403315
RecFumbPlayer : 403315
Sack : 0
Challenge.Replay : 0
ChalReplayResult : 404286
Accepted.Penalty : 0
PenalizedTeam : 378189
PenaltyType : 391261
PenalizedPlayer : 379403
Penalty.Yards : 0
PosTeamScore : 26904
DefTeamScore : 26904
ScoreDiff : 24988
AbsScoreDiff : 26904
HomeTeam : 0
AwayTeam : 0
Timeout_Indicator : 0
Timeout_Team : 0
posteam_timeouts_pre : 0
HomeTimeouts_Remaining_Pre : 0
AwayTimeouts_Remaining_Pre : 0
HomeTimeouts_Remaining_Post : 0
AwayTimeouts_Remaining_Post : 0
No_Score_Prob : 176
Opp_Field_Goal_Prob : 176
Opp_Safety_Prob : 176
Opp_Touchdown_Prob : 176
Field_Goal_Prob : 176
Safety_Prob : 176
Touchdown_Prob : 176
ExPoint_Prob : 0
TwoPoint_Prob : 0
ExpPts : 176
EPA : 369
airEPA : 248394
yacEPA : 248498
Home_WP_pre : 24954
Away_WP_pre : 24954
Home_WP_post : 26587
Away_WP_post : 26587
Win_Prob : 25009
WPA : 5541
airWPA : 248501
yacWPA : 248762
Season : 0

In [47]:
# Drop missing values
# Drops all rows that contain missing values
# Not recommended though
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [48]:
# The whole data got dropped, looks like every row in our dataset had missing values!

In [49]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [50]:
# How much data did we lose?
print("Columns in original dataset: %d \n" %nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

In [51]:
# Filling in missing values automatically

# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [52]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [53]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_nfl_data.fillna(method='bfill', axis=0).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009